    <ul class="socials text-center">
      <li><a class="btn btn-default" href="facebook.com" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      <li><a class="btn btn-default" href="facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Youtobe</a></li>
      <li><a class="btn btn-default" href="facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Scretch</a></li>
      <a style="display: none">Manage Socials</a>
    </ul>

    <div class="footer col-12">
      <h5>Copyright 2017</h5>
    </div>
