<div class="row footer">
<div class="col-12 text-center">
    <ul class="socials text-center">
      <li><a class="btn btn-default" href="https://www.youtube.com/channel/UCisGmd_jhgMMh2lgBP51RHw/featured" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      <li><a class="btn btn-default" href="https://www.patreon.com/TheArtistsDesk" target="_blank"><i class="fa fa-gamepad" aria-hidden="true"></i> Patreon</a></li>
      <a style="display: none">Manage Socials</a>
    </ul>
</div>

</div>
<div class="row">
    <div class="col-12 text-center">
      <h6>&#169;Copyright 2017</h6>
    </div>
</div>