<!--Card-->
<div class="card">

	<!--Card image-->
	<div class="view overlay hm-white-slight hm-zoom">
		<a href="{{art.url}}" data-lightbox="art"  data-title="{{art.title}}"> <img [src]="art.url" class="img-fluid" alt="{{art.title}}"></a>
	</div>

	<!--Card content-->
	<div class="card-body">
		<!--Title-->
		<h4 class="card-title">{{ art.title }}</h4>
		<!--Text-->
		<p class="card-text">{{ art.description }}</p>
		<p class="card-text">Tags: <small class="art-tag" *ngFor="let tag of art.tags">{{ tag }}</small></p>
	</div>
	<!-- Card footer -->
	<div class="card-data">
		<ul>
			<li><i class="fa fa-clock-o"></i> {{ art.date }}</li>
		</ul>
	</div>
	<!-- Card footer -->
</div>
		<!--/.Card-->