<!--Card-->
<div class="card">

	<!--Card image-->
	<div class="view overlay hm-white-slight hm-zoom card-image text-center">
		<a [href]="art['art-file']" data-lightbox="art"  data-title="{{ art['art-name'] }}"> <img [src]="art['art-file']" class="img-fluid" alt="{{ art['art-name'] }}"></a>
	</div>

	<!--Card content-->
	<div class="card-body">
		<!--Title-->
		<p class="card-title">{{ art['art-name'] }}</p>
		<!--Text-->
		<p class="card-text card-description">Description: <small>{{ art['art-description'] }}</small></p>
		<p class="card-text card-description">Created: <small>{{ art['art-date'] | date }}</small></p>
		<p class="card-text card-description">Tags: <small class="badge art-tag" *ngFor="let tag of art['tags']">{{ tag['tag-name'] }}</small></p>
	</div>
	<!-- Card footer -->
	<div class="card-data">
		<a [routerLink]="['/art-form', art['id']]">Edit Art</a>
	</div>
	<!-- Card footer -->
</div>
		<!--/.Card-->