<div class="row justify-content-center">
	<div class="col-8">
		<form [formGroup]="artForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<h4 for="art-name">Art Form</h4>
			</div>
			<div class="form-group">
				<label for="art-file">Upload Art File</label>
				<input id="art-upload" class="form-control" type="file" name="art-file" (change)="onFileUpload($event)">
				<img *ngIf="image_url" [src]="image_url" />
			</div>
			<div class="form-group">
				<label for="art-name">Art Name</label>
				<input class="form-control" type="text" name="art-name" id="art-name" formControlName="art-name">
			</div>

			<div class="form-group">
				<label for="art-description">Art Description</label>
				<input class="form-control" type="text" name="art-description" id="art-description" formControlName="art-description">
			</div>

			<div class="form-group">
				<label for="art-date">Date of Creation</label>
				<mat-form-field>
					<input matInput [matDatepicker]="myDatepicker" formControlName="art-date">
					<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
					<mat-datepicker #myDatepicker></mat-datepicker>
				</mat-form-field>
			</div>

			<div class="form-group row">
				<div class="col-12">
					<label for="art-file">Select Tags</label>
					<span class="ui-fluid">
						<p-autoComplete [(ngModel)]="artTags" [ngModelOptions]="{standalone: true}" [suggestions]="artTagsSuggestions" (completeMethod)="suggestArtTags($event)" (onSelect)="onTagSelect($event)" styleClass="wid100"
						[minLength]="1" placeholder="Art Tags" field="tag-name" [multiple]="true">
					</p-autoComplete>
				</span>
			</div>
		</div>
		<div class="form-group text-center">
			<button pButton type="submit" label="Submit"></button>
		</div>
	</form>
<!-- 		<button pButton type="button" label="Submit" (click)="showForm()"></button>
 -->
</div>
</div>