<h5 *ngIf="auth.isAuthenticated">You are logged in as {{ email }}</h5>
<nav class="navbar navbar-expand-lg navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-brand"><a href="#">Ookla Svecla</a>
			<div class="title"> - young artist - </div>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="main-nav">
		<ul class="navbar-nav m-auto">
			<li class='nav-item' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<a class="nav-link" routerLink=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
			</li>
			<li class='nav-item' routerLinkActive="active">
				<a class="nav-link"  [routerLink]="['/art']"><i class="fa fa-paint-brush" aria-hidden="true"></i> Art</a>
			</li>
			<li class='nav-item' routerLinkActive="active" *ngIf="auth.isAuthenticated">
				<a class="nav-link" (click)="onLogout()"><i class="fa fa-user" aria-hidden="true"></i> Log Out</a>
			</li>
	</ul>
</div>
</nav>
