<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
		<div class="navbar-brand"><a href="#">Ookla Svecla</a>
			<div class="title"> - young artist - </div>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="main-nav">
		<ul class="navbar-nav">
			<li class='nav-item active'>
				<a class="nav-link" href="#">Home</a>
			</li>
			<li class='nav-item active'>
				<a class="nav-link" href="#">Art</a>
			</li>
			<li class='nav-item active'>
				<a class="nav-link" href="#">Speedpaints</a>
			</li>
			<li class='nav-item active'>
				<a class="nav-link" href="#">Log Out will be here</a>
			</li>
		</ul>
	</div>
	<!-- /navbar-collapse -->
</nav>
			<!-- End nav -->