<h5 *ngIf="authenticated" >You are logged in as {{ currentUser }}</h5>
<nav class="navbar navbar-expand-lg navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-brand"><a href="#">Ookla Svecla</a>
			<div class="title"> - young artist - </div>
		</div>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="main-nav">
		<ul class="navbar-nav m-auto">
			<li class='nav-item' routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
				<a class="nav-link" routerLink=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
			</li>
			<li class='nav-item' routerLinkActive="active">
				<a class="nav-link"  [routerLink]="['/art']"><i class="fa fa-paint-brush" aria-hidden="true"></i> Art</a>
			</li>
			<!-- Dropdown -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<i class="fa fa-user"></i>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<ng-template [ngIf]="!auth.isAuthenticated()">
					<a class="dropdown-item" [routerLink]="['/login/login']" routerLinkActive="active">Log In</a>
					<a class="dropdown-item" [routerLink]="['/login/signup']" routerLinkActive="active">Sign Up</a>
				</ng-template>
				<ng-template [ngIf]="auth.isAuthenticated()">
					<a class="dropdown-item" href="#" routerLinkActive="active">User Profile</a>
					<a class="dropdown-item" href="#" routerLinkActive="active">Manage</a>
					<a class="dropdown-item" (click)="onLogout()">Log Out</a>
				</ng-template>
			</div>
		</li>
	</ul>
</div>
</nav>
