<div class="row justify-content-center">
    <div class="col-6">
        <!-- Signup and Login -->
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                <h5 class="h5 text-center mb-4">Request Password Reset</h5>

                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input class="form-control" type="email" id="email" formControlName="email" required mdbActive>
                    <label for="email">Your email</label>
                    <div *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('required')" class="notification deep-orange-text">Email is required</div>
                    <div *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').hasError('valid')" class="notification deep-orange-text">Please enter valid email</div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary waves-light" [disabled]="!forgotPasswordForm.valid" mdbRippleRadius>Submit</button>
                </div>
            </form>
    </div>
</div>